<div class="row max-w-lg mx-auto">
    <div class="col-md-12">
        <ul class="list">
            <li>
                <a routerLink="fromEvent">fromEvent</a>
            </li>
            <li>
                <a routerLink="interval">Interval</a>
            </li>
            <li>
                <a routerLink="of-from">Of-From</a>
            </li>
            <li>
                <a routerLink="to-array">To-Array</a>
            </li>
            <li>
                <a routerLink="custom">Custom Observable</a>
            </li>
            <li>
                <a routerLink="map">Map</a>
            </li>
            <li>
                <a routerLink="pluck">Pluck Operator</a>
            </li>
            <li>
                <a routerLink="filter">Filter</a>
            </li>
            <li>
                <a routerLink="tap">Tap</a>
            </li>
            <li>
                <a routerLink="take">Take</a>
            </li>
            <li>
                <a routerLink="retry">Retry</a>
            </li>
            <li>
                <a routerLink="debouncetime">DebounceTime & <br><br> DistinctUntilChanged</a>
            </li>
            <li>
                <a routerLink="subject">Subject & <br><br> Behaviour Subject</a>
            </li>
            <li>
                <a routerLink="replay-subject"> Replay Subject</a>
            </li>
            <li>
                <a routerLink="async-subject"> Async Subject</a>
            </li>
            <li>
                <a routerLink="concat">Concat</a>
            </li>
            <li>
                <a routerLink="merge">Merge</a>
            </li>
            <li>
                <a routerLink="merge-map">Merge Map</a>
            </li>
            <li>
                <a routerLink="concat-map">Concat Map</a>
            </li>
            <li>
                <a routerLink="notification">Concat Map Notification</a>
            </li>
            <li>
                <a routerLink="switch-map">Switch Map</a>
            </li>
            <li>
                <a routerLink="search">Search</a>
            </li>
            <li>
                <a routerLink="exhaustmap">Exhaust Map</a>
            </li>
            <li>
                <a routerLink="sharereplay">Share Relpay</a>
            </li>
            <li>
                <a routerLink="combine-latest">Combine Latest & WithLatestFrom</a>
            </li>
        </ul>
    </div>
</div>