<div class="my-3">
    <h2>Take, TakeLast and TakeUntil</h2>
    <br>
    <hr>
    <p class="bg-light d-inline-block py-2 px-3 border rounded">Random Names:'Apple', 'Banana', 'Grapes', 'Orange', 'Strawberry', 'Watermellon', 'Cherry', 'Guava', 'Juciy'</p>
    <hr>

    <div class="row">
        <div class="col-md-4">
            <strong>Ex - 01 | Take(4)</strong>
            <hr>
            <ul id="elContainer">
            </ul>
        </div>
        <div class="col-md-4">
            <strong>Ex - 02 | TakeLast</strong>
            <hr>
            <ul id="elContainer2">
            </ul>
        </div>
        <div class="col-md-4">
            <strong>Ex - 02 | TakeUntil</strong>
            <hr>
            <ul id="elContainer3">
            </ul>
        </div>
    </div>
</div>