<div class="my-2">
    <h2>Combine Latest & WithLatestFrom</h2>
    <br>

    <div class="row">
        <div class="col-md-3 pr-4">
            <strong>Names</strong>
            <hr>
            <select class="form-control" #name>
                <option *ngFor="let item of nameSource" value="{{item}}">{{item}}</option>
            </select>
            <br><br>
            <strong>Colors</strong>
            <hr>
            <select class="form-control" #color>
                <option *ngFor="let item of colorSource" value="{{item}}">{{item}}</option>
            </select>
        </div>
        <div class="col-md-9 ml-auto">
            <strong>CombineLatest</strong>
            <hr>
            <div class="wrapper" id="elContainer">
            </div>
            <br>
            <strong>WithLatestFrom</strong>
            <hr>
            <div class="wrapper" id="elContainer2">
            </div>
            <br>
            <strong>Zip</strong>
            <hr>
            <div class="wrapper" id="elContainer3">
            </div>
            <br>
            <strong>ForkJoin</strong>
            <hr>
            <div class="wrapper" id="elContainer4">
            </div>
        </div>
    </div>
</div>