<nav class="navbar navbar-expand-lg navbar-light bg-light justify-between">
    <div class="container">
        <a class="navbar-brand" href="#">Observable and Promises</a>
        <strong *ngIf="exclusive">Exclusive</strong>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav left-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="observable">Observable</a>
                </li>
            </ul>
        </div>
    </div>
  </nav>